:root{
  --el-color-primary:#1FB864!important;
  --el-color-primary-light-1: #358668!important;
  --el-color-primary-light-2: #2eb684!important;
  --el-color-primary-light-3: #3dbb8d!important;
  --el-color-primary-light-4: #52af8d!important;
  --el-color-primary-light-5: #2ccc91!important;
  --el-color-primary-light-6: #29e09d!important;
  --el-color-primary-light-7: #5edfb0!important;
  --el-color-primary-light-8: #9be9cc!important;
  --el-color-primary-light-9: #c6ebdd!important;
  --el-color-primary-dark-2: #2b7a5e!important;
}